.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  background-color: white;
}

.logo {
  width: 200px;
}

.nav-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  list-style: none;
}

li {
  border: 1px solid greenyellow;
  border-radius: 8px;
  padding: 10px;
}

li:hover {
  background-color: rgb(170, 240, 170);
  color: black;
  transition: all 0.3s ease;
}
